* {
    background-color: tan;
}

body{
    padding: 10px;
}

h1 {
    text-align: center;
    margin: 10px auto;
    font-family: Garamond, serif;
    border: 3px;
    background-color: chocolate;
    width: 300px;
    height: auto;
    padding: 10px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    display: block;
    width: 200px;
    margin: 0 auto;
}

#description {
    font-family: 'Courier New', Courier, monospace;
    padding: 2px;
}

.list {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    padding: 2px;
}

a#footer {
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    color: brown;
    width: 50px;
    outline: 1px solid black;
    padding: 5px 2px;
}